@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.App {
  text-align: center;
}

.view-powerstats:hover{
  cursor:pointer;
  background-color:rgb(250, 217, 27)
}

.view-powerstats:hover{
  cursor:pointer;
}

.hidden-powerstats:hover{
  cursor:pointer;
}

.back-team:hover{
  cursor:pointer;
  background-color:cadetblue;
}
.tittle-custom{
  font-family: 'Bangers', cursive;
}
.subtittle-custom{
  font-family: 'Bebas Neue', cursive;
  font-size:3em;
}

